.program-edit-container {
  padding-top: 44px;
  padding-bottom: 80px;
}

.program-edit-wrap {
  margin-top: 21px;
  width: 924px;
  min-height: 1060px;
  height: auto;
  border-radius: 8px;
  border: 1px solid var(--gray-2, #dfe1e4);
  background: #fff;
  padding: 48px;
  position: relative;
}

.program-edit-wrap .b1:first-of-type {
  color: var(--gray-7, #262c31);
  display: block;
  margin-bottom: 50px;
}

.program-edit-wrap .b1:nth-of-type(2) {
  color: var(--gray-7, #262c31);
  display: block;
  margin-bottom: 24px;
}

.program-edit-wrap textarea {
  width: 664px;
  height: 197px;
}

.program-summary-textarea {
  height: 150px !important;
}

.program-edit-wrap .form-layout {
  margin-bottom: 22px;
}

.program-edit-save {
  bottom: 15px;
  right: 12px;
}

.program-state {
}
