.program-container {
  padding-top: 72px;
  padding-bottom: 62px;
}

.program-filter-container {
  display: flex;
  align-items: center;
  gap: 9px;
}

.program-filter {
  padding: 6px 13px;
  border-radius: 21px;
  background: var(--gray-04-semi-dark, #a3a7aa);
}

.program-filter span {
  color: var(--white);
}

.btn-active {
  color: #262c31;
}

.program-container > h2 {
  margin-bottom: 27px;
}

.program-table {
  margin-top: 18px;
}

.program-table-container {
  margin-top: 23px;
  position: relative;
  width: 1043px;
  height: auto;
}

.table-total-num > span:first-child {
  color: #adb4ba;
}
.table-total-num > span:nth-child(2) {
  color: #262c31;
}

.program-table th {
  color: #778088;
}

.program-table td {
  color: #636c73;
  font-size: 14px;
  font-family: Pretendard;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.042px;
}

.program-table .table-filter {
  gap: 5px;
  width: 73px;
  justify-content: space-between;
}

.program-table thead {
  height: 41px;
  background: #f2f4f5;
}

.program-table tbody tr {
  height: 59px;
}

.program-table th:first-of-type,
.program-table td:first-of-type {
  padding-left: 44px;
  text-align: left;
  width: 158px;
}

.program-table th:nth-of-type(2),
.program-table td:nth-of-type(2) {
  text-align: left;
  width: 270px;
}

.program-table td:nth-of-type(2) span {
  display: block;
  width: 239px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.program-table th:nth-of-type(3),
.program-table td:nth-of-type(3) {
  text-align: left;
  width: 122px;
}

.program-table th:nth-of-type(4),
.program-table td:nth-of-type(4) {
  text-align: left;
  width: 129px;
}

.program-table th:nth-of-type(5),
.program-table td:nth-of-type(5) {
  text-align: left;
  width: 176px;
}

.program-table th:nth-of-type(6),
.program-table td:nth-of-type(6) {
  padding-right: 45px;
  text-align: center;
  width: 86px;
}

.program-table th:nth-of-type(7),
.program-table td:nth-of-type(7) {
  text-align: center;
  width: 102px;
  padding-right: 45px;
}

.program-table .table-submenu-container {
  right: 41px;
}
